form{
    width: 420px;
}
.ipgroup {
    position: relative;
}

.ipgroup input,textarea {
    padding: 14px 12px;
    font-size: 16px;
}

.ipgroup label {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    color: #6c757d;
    font-size: 16px;
    pointer-events: none;
    background: white;
    padding: 0 5px;
    transition: 0.3s ease;
}

/* Floating effect */
.ipgroup input,textarea:focus ~ label,
/* .ingroup textarea:focus ~ label, */
.ipgroup input:valid ~ label {
    top: 0;
    font-size: 13px;
    color: #0d6efd; /* Bootstrap primary */
    z-index: 1;
}
